Source: bats-assert-2.0.0
Section: shells
Priority: optional
Maintainer: Brokenpip3 <brokenpip3@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/bats-core/bats-assert
#Vcs-Browser: https://salsa.debian.org/debian/bats-assert-2.0.0
#Vcs-Git: https://salsa.debian.org/debian/bats-assert-2.0.0.git

Package: bats-assert-2.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, bats, bats-support
Description: Common assertions for Bats
